* {
  font-family: VereleRound;
}

.noOverflow {
  overflow-x: hidden;
  background: #151419 !important;
}

.primaryBackground {
  background-color: #000000 !important;
  font-weight: bold;
}

.primaryComponent {
  background-color: #1a1d24 !important;
}

.secondaryComponent {
  background-color: #25282f !important;
}

.colSelected {
  background-color: #24272e !important;
}

.primaryText {
  color: #dbdee5 !important;
}

.secondaryText {
  color: #80838a !important;
}

.componentInvisible {
  color: #000000;
}

@font-face {
  font-family: "VereleRound";
  src: url("/src/assets//fonts/VarelaRound-Regular.ttf") format("truetype");
}
